/ProyectoMateAdmin/nbproject/private/
/ProyectoMateAdmin/build/
/ProyectoMateAdmin/dist/
/CONTROLASISTENCIA-masterV2/CONTROLASISTENCIA-master/build/
/CONTROLASISTENCIA-masterV2/CONTROLASISTENCIA-master/nbproject/private/
/ProyectoMateAdmin(1)/ProyectoMateAdmin/ProyectoMateAdmin/build/
/ProyectoMateAdmin(1)/ProyectoMateAdmin/ProyectoMateAdmin/dist/
/ProyectoMateAdmin(1)/ProyectoMateAdmin/ProyectoMateAdmin/nbproject/private/